body {
	display: flex;
	flex-direction: column;
}

h1 {
	color:      blue;
	text-align: center;
}

body > div {
	display: flex;
	flex-direction: row;
}

#divNav > button {
	width: 15em;
}

.divBody {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-content: center;

	> div {
		width: 100%;
		text-align: center;
		padding: 0;
		margin-top: 0.5em;
	}
}

.svgLorentz {
	max-width: 100vh;
	overflow: hidden;
	/*width:      90vw;*/
	/*max-height: calc(100vh - 5em) !important;*/
	/*height:     50vw;*/
	/*border:           1px solid #c3c3c3;*/
	/*background-color: #eeeeee;*/

	.centerLine {
		stroke-width: 5px;
		stroke: black;
	}

	.guideLines {
		stroke-width: 1px;
		stroke: black;
	}

	.lightLines {
		stroke-width: 5px;
		stroke: gold;
	}

	.staticLines {
		stroke-width: 5px;
		stroke: blue;
	}

	.lorentzItem {
		cursor: pointer;
	}

	.testRed {
		fill: red;
	}

	.testBlue {
		fill: blue;
	}

	.padding {
		fill: white;
	}
}

@media (max-width: 767.98px) {
	#rngSpeed {
		display: none;
	}
}

@media print
{
	.no-print, .no-print *
	{
		display: none !important;
	}
}
